<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Payment Rating</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @if (IsSectionDefined("AddToHead"))
    {
        @RenderSection("AddToHead", required: false)
    }
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top corfonte" style="background-color: rgb(30, 74, 30);">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @*@Html.ActionLink("Avalie Meios de Pagamentos", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })*@
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Início", "Index", "Home")</li>
                    <li>@Html.ActionLink("Ranking", "Index", "Ranking")</li>
                    <li class="dropdown">
                        <a href="#" class="dropbtn">Avaliação</a>
                        <div class="dropdown-content">
                            <a href="@Url.Action("Index", "Avaliacao")">Avaliações</a>
                            @{
                                if (Session["usuario"] != null)
                                {
                                    <a href="@Url.Action("Cadastrar", "Avaliacao")">Cadastrar</a>
                                }
                            }
                        </div>
                    </li>
                    @{
                        if (Session["usuario"] == null)
                        {
                            <li class="dropdown">
                                <a href="#" class="dropbtn">Usuário</a>
                                <div class="dropdown-content">
                                    <a href="@Url.Action("Login", "Login")">Login</a>
                                    <a href="@Url.Action("Cadastro", "Login")">Cadastrar</a>
                                </div>
                            </li>
                        }
                    }
                    <li>@Html.ActionLink("Sobre", "About", "Home")</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container">
        <section class="row content">
            <!-- Modal -->
            @*<div class="modal fade" id="exitModal" tabindex="-1" role="dialog" aria-labelledby="exitModal" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">
                                    <span aria-hidden="true">x</span><span class="sr-only">Close</span>
                                </button>
                                <h1> <span>›</span> Deseja realmente sair?</h1>
                            </div>
                            <div class="modal-body">
                                <a href="#" class="btn btn-lg btn-default" data-dismiss="modal">Cancelar</a>
                                <a href="@Url.Action("LogOut", "Login", new { area = "" })" class="btn btn-lg btn-info">Sair</a>
                            </div>
                        </div>
                    </div>
                </div>*@
            @if (TempData["msg-sucesso"] != null)
            {
                <div class="alert alert-success fade in">
                    <button class="close" data-dismiss="alert">×</button>
                    <strong>@TempData["msg-sucesso"]</strong>
                </div>
            }

            @if (TempData["msg-error"] != null)
            {
                <div class="alert alert-danger fade in">
                    <button class="close" data-dismiss="alert">×</button>
                    <strong>@TempData["msg-error"]</strong>
                </div>
            }

            @if (TempData["msg-error-categoria"] != null)
            {
                <div class="alert alert-danger fade in">
                    <button class="close" data-dismiss="alert">×</button>
                    <strong>@TempData["msg-error-categoria"]</strong>
                </div>
            }

            @if (TempData["msg-error-status"] != null)
            {
                <div class="alert alert-warning fade in">
                    <button class="close" data-dismiss="alert">×</button>
                    <strong>@TempData["msg-error-status"]</strong>
                </div>
            }

        </section>
        @RenderBody()
        <hr />
        <div class="navbar-fixed-bottom text-center">
            <footer>
                <p>&copy; @DateTime.Now.Year - Code System</p>
            </footer>
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
