@model PaymentRating.Models.Avaliacao
@{
    ViewBag.Title = "Cadastrar Avaliacao";
    var pagamentos = ViewBag.Pagamentos as List<PaymentRating.Models.MeiosPagamentos>;
}

@using (Html.BeginForm("CadastrarRequest", "Avaliacao", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(m => m.IdMeioPagamento, "Meio de Pagamento", new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @{
                var meiosPagamentos = new List<SelectListItem>();

                foreach (var pag in pagamentos)
                {
                    meiosPagamentos.Add(new SelectListItem { Text = pag.Descricao.ToString(), Value = pag.Id.ToString() });
                }

                @Html.DropDownListFor(c => pagamentos, meiosPagamentos, new { @class = "form-control", id = "IdMeioPagamento" })
            }
        </div>
    </div>

    @Html.ValidationSummary("", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(m => m.Comentario, "Comentário", new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextAreaFor(m => m.Comentario, new { @class = "form-control" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(m => m.Sugestao, "Sugestão", new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextAreaFor(m => m.Sugestao, new { @class = "form-control" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-2  control-label">
                        <label for="Recomendar">
                            Recomendar
                        </label>
                    </div>
                    <div class="col-md-10">
                        <div class="checkbox left-checkbox control-label">
                            <input type="checkbox" value="" class="" id="Recomendar">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" class="btn btn-default" value="Cadastrar" />
                    </div>
                </div>
                }

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

