@model IEnumerable<PaymentRating.Models.Avaliacao>
@{
    ViewBag.Title = "Ranking Avaliações";
}

﻿@section AddToHead{

    <style type="text/css">
        body{ margin-top:20px;}
        .glyphicon { margin-right:5px;}
        .rating .glyphicon {font-size: 22px;}
        .rating-num { margin-top:0px;font-size: 54px; }
        .progress { margin-bottom: 5px;}
        .progress-bar { text-align: left; }
        .rating-desc .col-md-3 {padding-right: 0px;}
        .sr-only { margin-left: 5px;overflow: visible;clip: auto; }
       </style>
    }


<h2>Ranking das Avaliações</h2>

<div class="container">
    <div class="row">
        <div class="col-xs-12 col-md-8">
            <div class="well well-sm">
                <div class="row">
                    <div class="col-xs-12 col-md-4 text-center">
                        <h1 class="rating-num">
                            @Model.Average(x => x.Nota).ToString("N3")
                        </h1>
                        <div class="row">
                            <strong>Média Geral</strong>
                        </div>                      
                        <div>
                            <span class="glyphicon glyphicon-user"></span>Total de Avaliações: @Model.Count()
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-8">
                        @foreach (var item in Model.GroupBy(v => v.MeioPagamento.Descricao).Select(x => new { Meio = x.Key, qtd = x.Count() }).OrderByDescending(t => t.qtd))
                        {
                            <div class="row rating-desc">
                                <div class="col-xs-3 col-md-5 text-right">
                                    @item.Meio
                                    <span class="glyphicon glyphicon-star"></span>
                                </div>
                                <div class="col-xs-8 col-md-7">
                                    <div class="progress progress-striped">
                                        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="20"
                                             aria-valuemin="0" aria-valuemax="100" style="width: @item.qtd%">
                                            <span class="sr-only" style="color: #000"><strong>@item.qtd</strong></span>
                                        </div>
                                    </div>
                                </div>
                                
                            </div>
                        }

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">       
        <div class="col-md-9">
            <table class="table table-list-search">
                <thead>
                    <tr>
                        <th>Meio de Pagamento</th>
                        <th>Média</th>
                        <th>Quantidade de Avaliações</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.GroupBy(r => r.MeioPagamento.Descricao).Select(l => new { Meio = l.Key, Qtd = l.Count(), Media = l.Average(f => f.Nota) }).OrderByDescending(x => x.Media))
                    {
                        <tr>
                            <td>@item.Meio</td>
                            <td>@item.Media.ToString("N4")</td>
                            <td>@item.Qtd</td>
                            
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script>
        $(document).ready(function () {
            var activeSystemClass = $('.list-group-item.active');

            //something is entered in search form
            $('#system-search').keyup(function () {
                var that = this;
                // affect all table rows on in systems table
                var tableBody = $('.table-list-search tbody');
                var tableRowsClass = $('.table-list-search tbody tr');
                $('.search-sf').remove();
                tableRowsClass.each(function (i, val) {

                    //Lower text for case insensitive
                    var rowText = $(val).text().toLowerCase();
                    var inputText = $(that).val().toLowerCase();
                    if (inputText != '') {
                        $('.search-query-sf').remove();
                        tableBody.prepend('<tr class="search-query-sf"><td colspan="6"><strong>Searching for: "'
                            + $(that).val()
                            + '"</strong></td></tr>');
                    }
                    else {
                        $('.search-query-sf').remove();
                    }

                    if (rowText.indexOf(inputText) == -1) {
                        //hide rows
                        tableRowsClass.eq(i).hide();

                    }
                    else {
                        $('.search-sf').remove();
                        tableRowsClass.eq(i).show();
                    }
                });
                //all tr elements are hidden
                if (tableRowsClass.children(':visible').length == 0) {
                    tableBody.append('<tr class="search-sf"><td class="text-muted" colspan="6">No entries found.</td></tr>');
                }
            });
        });
    </script>

    
}

